<div class="container mt-5">
    <div class="col-md-4 offset-md-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">Iniciar sesión</h2>
          <form>
            <div class="form-group">
              <label for="usuario">Usuario</label>
              <input type="text" id="usuario" name="usuario" [(ngModel)]="usuario" class="form-control" placeholder="Usuario">
            </div>
            <div class="form-group">
              <label for="contrasena">Contraseña</label>
              <input type="password" id="contrasena" name="contrasena" [(ngModel)]="contrasena" class="form-control" placeholder="Contraseña">
            </div>
            <button (click)="logIn()" class="btn btn-primary btn-block mt-2">Iniciar sesión</button>
            <button (click)="autocompletarAdmin()" class="btn btn-primary btn-block mt-2">Completar con datos de Admin</button>
            <!-- Agrega una clase de margen personalizada para separar los botones -->
            <button (click)="autocompletarEmpleado()" class="btn btn-primary btn-block mt-2">Completar con datos de Empleado</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  