<h2 class="my-4">Información del país del producto:</h2>

<div class="card">
  <div class="card-body">
    <div class="d-flex align-items-center">
      <img style="height: 100px; margin-right: 20px;" [src]="pais.flags.svg" alt="" class="country-image">
      <div>
        <p class="mb-1"><strong>Nombre del país:</strong> {{ pais.name.common }}</p>
        <p class="mb-1"><strong>Capital:</strong> {{ pais.capital }}</p>
        <p class="mb-1"><strong>Población:</strong> {{ pais.population }}</p>
        <p class="mb-1"><strong>Región:</strong> {{ pais.region }}</p>
        <p class="mb-1"><strong>Subregión:</strong> {{ pais.subregion }}</p>
      </div>
    </div>
  </div>
</div>
